body{
    background-color: #090221;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,20px);
    grid-template-rows: repeat(3,20px);
    transform: rotate(45deg);
}
 span{
    display: block;
    background-color: #fff;
    animation: loading-effect 1s ease infinite;
}
span:nth-child(3){
    animation-delay: 1s;
}
span:nth-child(2){
    animation-delay: .9s;
}
span:nth-child(6){
    animation-delay: .9s;
}
span:nth-child(1){
    animation-delay: .8s;
}
span:nth-child(5){
    animation-delay: .8s;

}
span:nth-child(9){
    animation-delay: .8s;
}
span:nth-child(4){
    animation-delay: .7s;
}

span:nth-child(8){
    animation-delay: .7s;
}
span:nth-child(7){
    animation-delay: .6s;
}

@keyframes loading-effect{
    0%{
        transform: scale(0);
        background-color: rgb(24, 209, 0);

    }
    100%{
        transform: scale(1);
        
    }
}

.text{
    padding: 2rem;
    display: flex;
}
.text span{
    font-size: 2rem;
    color: #090221;
    border-radius: 25%;
    margin-right: 10px;
}












